<strong>Olá, {{ student }}.</strong>
<p>Bem vindo(a) a academia Gympoint!</p>
<p>Você foi matriculado, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Número da Matrícula: </strong>{{ enrollment }} <br />
  <strong>Matricula Início: </strong> {{ start }} <br />
  <strong>Matrícula Fim: </strong> {{ end }} <br />
  <strong>Valor: </strong>R$ {{ price }},00 <br />
</p>